<header class="banner banner-background">
  <div class="container">
    <section class="copy col-md-6">
      <header>
        <h1>
          Donut pie marshmallow powder.
        </h1>
      </header>
      <p>
        Pastry marzipan toffee croissant. Lollipop dessert liquorice I love jelly-o
        I love I love gummies chocolate bar. Sesame snaps macaroon brownie dessert
        candy. I love I love halvah wafer gingerbread carrot cake cheesecake
        pudding. Wafer bonbon jujubes marzipan chupa chups pie cheesecake croissant
        ice cream. Donut powder bonbon marshmallow.
      </p>

      <p>
        Topping jelly beans pie cotton candy lollipop I love tiramisu. Jelly
        candy apple pie jelly beans dessert liquorice cheesecake danish.
        Biscuit I love gingerbread <strong>marzipan cookie tart gummies I love</strong>.
      </p>
    </section>

    <section class="signup col-md-offset-1 col-md-5">
      {{render "users.form"}}
    </section>

  </div>
</header>

<article class="features container">
  <header class="text-center">
    <h1>
      <strong>Gingerbread candy canes</strong>
    </h1>
  </header>
  <div class="row">
    <section class="feature col-md-offset-2 col-md-4">
      <header class="text-center">
        <h1>
          <div class="circle center-block img-thumbnail">
            <i class="fa fa-ticket text-success"></i>
          </div>
        </h1>
        <h3>
          Gingerbread lemon drops
        </h3>
      </header>
      <p>
        Muffin brownie cake croissant tart gingerbread tootsie roll jelly-o.
        Chocolate unerdwear.com I love I love gingerbread candy canes.
      </p>
      <footer class="text-center">
        <a href="#" class="btn btn-link">See More <i class="fa fa-arrow-right"></i></a>
      </footer>
    </section>

    <section class="feature col-md-4">
      <header class="text-center">
        <h1>
          <div class="circle center-block img-thumbnail">
            <i class="fa fa-rocket text-success"></i>
          </div>
        </h1>
        <h3>
          Fruitcake applicake cotton candy
        </h3>
      </header>
      <p>
        Brownie gummi bears cheesecake biscuit sesame snaps sesame snaps.
        Chocolate bar fruitcake croissant croissant gummies sweet croissant
        pastry.
      </p>
      <footer class="text-center">
        <a href="#" class="btn btn-link">See More <i class="fa fa-arrow-right"></i></a>
      </footer>
    </section>
  </div>

  <div class="row">
    <section class="feature col-md-offset-2 col-md-4">
      <header class="text-center">
        <h1>
          <div class="circle center-block img-thumbnail">
            <i class="fa fa-history text-success"></i>
          </div>
        </h1>
        <h3>
          Gingerbread bonbon soufflé
        </h3>
      </header>
      <p>
        Halvah chupa chups macaroon bonbon oat cake chocolate caramels donut
        croissant. Jujubes cheesecake croissant.
      </p>
      <footer class="text-center">
        <a href="#" class="btn btn-link">See More <i class="fa fa-arrow-right"></i></a>
      </footer>
    </section>

    <section class="feature col-md-4">
      <header class="text-center">
        <h1>
          <div class="circle center-block img-thumbnail">
            <i class="fa fa-money text-success"></i>
          </div>
        </h1>
        <h3>
          Toffee apple pie
        </h3>
      </header>
      <p>
        Soufflé liquorice sweet roll bear claw pie donut lemon drops bonbon.
        Jujubes chocolate bar chocolate cake tart biscuit.
      </p>
      <footer class="text-center">
        <a href="#" class="btn btn-link">See More <i class="fa fa-arrow-right"></i></a>
      </footer>
    </section>
  </div>
</article>
